body{
  background-image:url(background.jpg);
  background-size: cover;
  text-align: center;
}

.sfondo{
       background-color:rgba(0, 0, 0, 0.5);
       background-size: cover;
       margin:140px;
       margin-left: 450px;
       margin-right: 450px;
       padding: 150px;
       border-radius: 13px;


}

#logo{
     width: 150px;
}

header > h1{
            color: #00dd00;
}

nav{
    background-color: #00dd00;
    padding: 10px;
    margin: 50px;
}

main{
    color: white;
    line-height:30px;

}

.monopattini{
            text-align: left;
            padding-left: 50px;
            font-size: 25px;
}

.monopattini  span{
                    font-size: 35px;

}

  p:before {
  content: "\21A6";
}



.monopattino_gino22{
                    line-height:5px;


}

.monopattino_mike24{
                    line-height:5px;
}

.monopattino_fede154{
                    line-height:5px;
}

.monopattini  hr{
                  height: 27px;
                  border-radius: 7px;
}

.monopattino_gino22 hr{
                       background-color: #f5b453;
                       border-color: #f5b453;
                       width: 450PX;
                       margin-left: 0px;

}

.monopattino_mike24 hr{
                       background-color: #1ec31e;
                       border-color: #1ec31e;
                       width: 700PX;
                       margin-left: 1px;

}

.monopattino_fede154 hr{
                       background-color: #be4141;
                       border-color: #be4141;
                       width: 190PX;
                       margin-left: 1px;

}
